<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="FlipkartTest">
    <classes>
      <class name="com.simplilearn.demo.AppTest"/>
      <class name="com.simplilearn.demo.TestUsingFirefox"/>
      <class name="com.simplilearn.demo.SearchProduct"/>
    </classes>
  </test> <!-- FlipkartTest -->
</suite> <!-- Suite -->
